@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

html, body {
 height: 100%;
 
}

#clock, #date, #weekDay {
 
 color: #fff;
 font-family: 'Bungee Shade', cursive;
 font-size: 70px;
 position: relative;
 top: 30%;
 margin-top: -30px;
 text-align: center;
 
}